<div>
    <div>
        <button id="signOut"> Log out </button>
    </div>
    <div>
        <div>
            <p>Persistence and Offline</p>
            <button id="onPersist">Enable persistence</button>
            <button id="offPersist">Disable persistence</button>
            <p>Online/Offline</p>
            <button id="goOnline">Go Online</button>
            <button id="goOffline">Go Offline</button>
        </div>
        <div>
            <p>Read data with listener</p>
            <button id="loadData">Load Data with Listener</button>
            <button id="cleanListener">Clear Listener</button>
            <p>Read data once</p>
            <button id="loadDataOnce">Load Data Once</button>
            <p>Update data and children</p>
            <button id="updateAt">Update Children</button>
        </div>
        <div id="showData">
        </div>
        <div>
            <form id="setValue">
                <p>Setting value at endpoint Points</p>
                <label for="point1">Point1</label>
                <input  type="text" name="point1" />
                <label for="point2">Point2</label>
                <input  type="text" name="point2" />
                <button type="submit">Set Value</button>
            </form>
        </div>
        <div>
            <button id="removeAt"> Remove Test</button>
        </div>
    </div>
</div>