<div>
    <div>
        <button id="signOut"> Log out </button>
    </div>
    <div>
        <div>
            <button id="loadData">Load Data with Listener</button>
            <button id="cleanListener">Clear Listener</button>
        </div>
        <div id="showData">
        </div>
        <div>
            <form id="setValue">
                <p>Setting value at endpoint Points</p>
                <label for="point1">Point1</label>
                <input  type="text" name="point1" />
                <label for="point2">Point2</label>
                <input  type="text" name="point2" />
                <button type="submit">Set Value</button>
            </form>
        </div>
        <div>
            <button id="removeAt"> Remove Test</button>
        </div>
    </div>
</div>